.header-top{
    width: 100%;
    height:60px;
    position: relative;
    display: flex;
    justify-content: space-between;
    border: 1.5px solid #4e4d4d;
}


.app-name{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    float: left;
    padding: 10px;
    margin-left:0px;
    
}
.text{
    font-size:25px;
    color: #fff;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.logo{
    height:50px;
    width:50px;
    flex-basis: 40%;
}

.nav{
    display:flex;
    justify-content: space-between;
    position:relative;
     /* height: 3rem; */
    padding:1.5rem;
    width: 55%;
    float: left;
    /* padding: 20px; */
   
    
}

#d1{
    font-size: medium;
    color: rgba(240, 248, 255, 0.685);
}
#d1:hover{
    color:#fff;
    cursor: pointer;
}
.d9{
    margin-top: -6px;
}

.trade{
    background: #3eb489;
    border-radius: 4px;
    /* font-size: 1.4rem; */
    height:30px;
    width:65px;
    line-height: 2rem;
    font-weight: 400;
    letter-spacing: 0;
    color: #fff!important;
    padding-left: 1.0rem;
    /* padding-right: 1.6rem; */
    box-sizing: border-box;
    position: center;
    /* min-height: 3.6rem; */
    display: inline-flex!important;
    align-items: center;
    text-align: center;
    cursor: pointer;
    border: none;
    appearance: none;
}
.trade:hover{
    background-color: #0a5e3f;
}
.logo1{
    width: 8%;
    float: left;
    margin-top:15px;
    padding: 10px;
    height:10px;
    background-color: black;
}

button{
    background-color: black;
}
.logo2{
    width: 5%;
    float: left;
    margin-top:15px;
    padding: 10px;
    height:10px;
    background-color: black;
}
.logo3{
    height:40px;
    width:120px;
    background-color: black;
    margin-top:-18px;
    margin-left:-40px;
}
.network-dropdown {
    display: inline-flex;
    margin-top:-10px;
    margin-left:-40px;
    background-color: black;
}

.default-container1{
    max-width: 126.4rem;
    padding-left: 3.2rem;
    padding-right: 3.2rem;
    margin: 0 auto;

    min-height: calc(100vh - 62px);
    display: flex;
    flex-direction: column;
    /* padding-bottom: 24.65rem; */
    /* padding-top: 4.65rem; */
}
.section-title-icon {
    display: flex;
    align-items: center;
}
.title{
    display: flex;
    margin-top:60px;
    /* margin-bottom: 2.325rem; */
    max-width: 38.4rem;
    width: 100%;
}
.content{
    display:flex;
    flex-direction:column;
    justify-content: flex-end;
}
.heading{
    font-size: 1.8rem;
    margin-bottom: 0.8rem;
    font-weight: 700;
    color:#fff;
}
*{
    font-family: relative sans-serif;
}
.descrip{
    color: #ffffffbd;
    line-height: 1.55rem;
    font-size: 17px;
}
@media (max-width: 900px)
.container2 {
    grid-template-columns: 1fr;
}

.container2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1.0rem;
    margin-top: 0.8rem;
}

.card{
    padding: 1.5rem 1.5rem 1.86rem;
    border: 1px solid #4d4d4e;
    border-radius: 0.4rem;
    font-size: 1.5rem;
}
.card-title{
    font-size: 1.2rem;
    /* line-height: 2.1rem; */
    font-weight: 400;
    letter-spacing: 0;
    color: #fff;
    /* margin-bottom: 1.5rem; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.divider{
    height: 1px;
    background: #4d4d4e;
    margin: 1.05rem -1.5rem;
}
.card-content{
    display: grid;
    grid-row-gap: 0.8rem;
}
.row1{
    display: grid;
    grid-template-columns: 1fr auto;
    grid-column-gap: 1.5rem;
    padding: unset;
}
.row1-text{
    color:#fff;
    font-size: 1.0rem;
}
.row1-text2
{
    cursor: help;
    position: relative;
    display: inline-flex;
    text-decoration: underline;
    text-decoration-style: dashed;
    text-decoration-thickness: 1px;
    text-underline-offset: 2px;
    text-decoration-color: hsla(0,0%,100%,.6);
    color:#fff;
    font-size: 1.1rem;
}

.tab-title-section{
    /* padding: 3.1rem 0 0; */
    /* margin-bottom: 2.4rem; */
}

.page-title{
    font-size: 1.4rem;
    /* margin-bottom: 0.8rem; */
    font-weight: 700;
    color:#fff;
}
.page-descrip{
    color: #b7b7bd;
    line-height: 2.15rem;
    font-size: 1.0rem;
}
.token-cards{
    margin-top:0.8rem;
}
.token-container1{
    margin-bottom: 1.5rem;
    display:flex;
}
.token-container2{
    padding: 1.5rem 1.5rem 1.86rem;
    border: 1px solid #4d4d4e;
    border-radius: 0.4rem;
    font-size: 1.5rem;
    position:relative;
}

.token-app1{
    width: 100%;
    display: flex;
    padding: 1.5rem 1.5rem 1.86rem;
    border: 1px solid #4d4d4e;
    border-radius: 0.4rem;
    font-size: 1.5rem;

}
.app-title{
    font-size: 1.6rem;
    line-height: 2.1rem;
    font-weight: 400;
    letter-spacing: 0;
    color: #fff;
    height:22px;
    margin-bottom: 1.0rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.app-card{
    display:flex;
}
.app-card-icon{
    position: relative;
    margin-right: 0.8rem;
    margin-top:10px;
    display: flex;
}
.app-card-info1{
    font-size: 1.2rem;
    /* line-height: 2.1rem; */
    letter-spacing: 0;
    color: #fff;
}
.app-card-info2{
    font-size: 1.0rem;
    line-height: 0.5rem;
    letter-spacing: 0;
    color: #a9a9b0
}

.app-divider{
    height: 0.5px;
    background: #4d4d4e;
    margin: 1.05rem -1.5rem
}

.app-content{
    display: grid;
    grid-row-gap: 0.4rem
}

.app-card-row{
    display: grid;
    grid-template-columns: 1fr auto;
    grid-column-gap: 8rem;
    padding: unset;
}

.img2{
    height:30px;
    width:30px;
    flex-basis: 40%;
}
.app-title-info{
    display:flex;
}

.app-title-info-icon{
    display: flex;
    margin-right: 0.8rem;
}
.app-title-info-text{
    color:#fff;
    font-size: 1rem;
}

.img3{
    margin-top:-3px;
    height:20px;
    width:20px;
}

.token-table{
    margin-left: -1.5rem;
    margin-right: -1.5rem;
    width: calc(100% + 3.1rem);
    border-spacing: 0;
    white-space: nowrap;
    font-size: 1.5rem
}
thead{
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}
tr{
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
td{
    margin:0;
    letter-spacing: 0.25px;
    padding: 1.1625rem;
    display:table-cell;
    white-space: nowrap;
}

*{
    color:#fff;
    font-size: 1.0rem;
}
.footer{
    box-sizing: border-box;
    font-family: "Relative",sans-serif;
    letter-spacing: .5
}

.footer-wrapper {
    text-align: center;
    padding-top: 4rem;
    background: #151515;
    width: 100vw;
    position: absolute;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    left: 50%;
    height: 20rem;
    bottom: 0;
    border-top: 1px solid #4d4d4e;
}
.footer-logo {
    margin-bottom: 2.4rem;
    display: flex;
    justify-content: center;
    align-items: center;

}
.textt{
    color:#fff;
    font-size:30px;
}

.footer-social{
    display: flex;
    width: 3.2rem;
    height: 3.2rem;
    align-items: center;
    justify-content: center;
}

.App-social-link{
    font-size: 2.635rem;
    color:#fff;
    opacity: 0.8;
}
.footer-links{
    color: #e6e6ea;
    font-size: 1.5rem;
    line-height: 1.85rem;
    font-weight: 400;
    text-decoration: none;
    cursor: pointer;
}
.logo8{
    height: 40px;
    width:40px;
}